<header>
  <img src="./assets/img/logo-negative.svg" />
  <div class="sys-name">ngx-navona</div>
</header>

<section>
  <div class="title">Examples</div>

  <div class="item">
    <div>
      <img
        src="./assets/img/theme-dark.png"
        class="navona-go"
        data-navona-target="gallery-01"
      />
    </div>
    <div>
      <ul>
        <li>ID Gallery: <span>gallery-01</span></li>
        <li>Speed: <span class="not">data-navona-speed</span></li>
        <li>Theme: <span class="not">data-navona-theme</span></li>
        <li>Click Mode: <span class="not">data-navona-click</span></li>
        <li>Portrait Mode: <span class="not">data-navona-portrait</span></li>
      </ul>
    </div>
  </div>
  <!-- end .item -->

  <div class="item">
    <div>
      <img
        src="./assets/img/theme-light.png"
        class="navona-go"
        data-navona-target="gallery-02"
      />
    </div>
    <div>
      <ul>
        <li>ID Gallery: <span>gallery-02</span></li>
        <li>Speed: <span class="not">data-navona-speed</span></li>
        <li>Theme: <span>data-navona-theme="#ffffff"</span></li>
        <li>Click Mode: <span class="not">data-navona-click</span></li>
        <li>Portrait Mode: <span class="not">data-navona-portrait</span></li>
      </ul>
    </div>
  </div>
  <!-- end .item -->

  <div class="item">
    <div>
      <img
        src="./assets/img/theme-dark.png"
        class="navona-go"
        data-navona-target="gallery-03"
      />
    </div>
    <div>
      <ul>
        <li>ID Gallery: <span>gallery-03</span></li>
        <li>Speed: <span class="not">data-navona-speed</span></li>
        <li>Theme: <span class="not">data-navona-theme</span></li>
        <li>Click Mode: <span>data-navona-click="true"</span></li>
        <li>Portrait Mode: <span class="not">data-navona-portrait</span></li>
      </ul>
    </div>
  </div>
  <!-- end .item -->

  <div class="item">
    <div>
      <img
        src="./assets/img/theme-dark.png"
        class="navona-go"
        data-navona-target="gallery-04"
      />
    </div>
    <div>
      <ul>
        <li>ID Gallery: <span>gallery-04</span></li>
        <li>Speed: <span>data-navona-speed="3000"</span></li>
        <li>Theme: <span class="not">data-navona-theme</span></li>
        <li>Click Mode: <span class="not">data-navona-click</span></li>
        <li>Portrait Mode: <span class="not">data-navona-portrait</span></li>
      </ul>
    </div>
  </div>
  <!-- end .item -->

  <div class="item">
    <div>
      <img
        src="./assets/img/theme-dark.png"
        class="navona-go"
        data-navona-target="gallery-05"
      />
    </div>
    <div>
      <ul>
        <li>ID Gallery: <span>gallery-05</span></li>
        <li>Speed: <span class="not">data-navona-speed</span></li>
        <li>Theme: <span class="not">data-navona-theme</span></li>
        <li>Click Mode: <span class="not">data-navona-click</span></li>
        <li>Portrait Mode: <span>data-navona-portrait="true"</span></li>
      </ul>
    </div>
  </div>
  <!-- end .item -->

  <div class="website">
    Visit:
    <a href="httsp://philipi.bovo.me/navona/ngx"
      >httsp://philipi.bovo.me/navona/ngx</a
    >
  </div>
</section>
<!-- end section -->

<div id="gallery-01" class="navona">
  <div>
    <img
      src="https://live.staticflickr.com/65535/49891482208_50f1508146_h.jpg"
    />
    <p>Santos - SP - Brasil</p>
  </div>
  <div>
    <img
      src="https://live.staticflickr.com/65535/49891482148_22aacda029_h.jpg"
    />
    <p>Pacu Prata</p>
  </div>
  <div>
    <img
      src="https://live.staticflickr.com/65535/49891996161_03fc1445ba_h.jpg"
    />
    <p>Faraglione - Capri - Itália</p>
  </div>
  <div>
    <img
      src="https://live.staticflickr.com/65535/49892308922_09c05dc337_b.jpg"
    />
    <p>Dancing Day</p>
  </div>
  <div>
    <img
      src="https://live.staticflickr.com/65535/49892308912_f064766e96_h.jpg"
    />
    <p>Pisa - Itália</p>
  </div>
  <div>
    <img
      src="https://live.staticflickr.com/65535/49891996046_e8d1c8b5af_h.jpg"
    />
    <p>Sargentinho Solitário</p>
  </div>
</div>
<!-- end #gallery-01 -->

<div id="gallery-02" class="navona" data-navona-theme="#ffffff">
  <div>
    <img
      src="https://live.staticflickr.com/65535/49891482208_50f1508146_h.jpg"
    />
    <p>Santos - SP - Brasil</p>
  </div>
  <div>
    <img
      src="https://live.staticflickr.com/65535/49891482148_22aacda029_h.jpg"
    />
    <p>Pacu Prata</p>
  </div>
  <div>
    <img
      src="https://live.staticflickr.com/65535/49891996161_03fc1445ba_h.jpg"
    />
    <p>Faraglione - Capri - Itália</p>
  </div>
  <div>
    <img
      src="https://live.staticflickr.com/65535/49892308922_09c05dc337_b.jpg"
    />
    <p>Dancing Day</p>
  </div>
  <div>
    <img
      src="https://live.staticflickr.com/65535/49892308912_f064766e96_h.jpg"
    />
    <p>Pisa - Itália</p>
  </div>
  <div>
    <img
      src="https://live.staticflickr.com/65535/49891996046_e8d1c8b5af_h.jpg"
    />
    <p>Sargentinho Solitário</p>
  </div>
</div>
<!-- end #gallery-02 -->

<div id="gallery-03" class="navona" data-navona-click="true">
  <div>
    <img
      src="https://live.staticflickr.com/65535/49891482208_50f1508146_h.jpg"
    />
    <p>Santos - SP - Brasil</p>
  </div>
  <div>
    <img
      src="https://live.staticflickr.com/65535/49891482148_22aacda029_h.jpg"
    />
    <p>Pacu Prata</p>
  </div>
  <div>
    <img
      src="https://live.staticflickr.com/65535/49891996161_03fc1445ba_h.jpg"
    />
    <p>Faraglione - Capri - Itália</p>
  </div>
  <div>
    <img
      src="https://live.staticflickr.com/65535/49892308922_09c05dc337_b.jpg"
    />
    <p>Dancing Day</p>
  </div>
  <div>
    <img
      src="https://live.staticflickr.com/65535/49892308912_f064766e96_h.jpg"
    />
    <p>Pisa - Itália</p>
  </div>
  <div>
    <img
      src="https://live.staticflickr.com/65535/49891996046_e8d1c8b5af_h.jpg"
    />
    <p>Sargentinho Solitário</p>
  </div>
</div>
<!-- end #gallery-03 -->

<div id="gallery-04" class="navona" data-navona-speed="3000">
  <div>
    <img
      src="https://live.staticflickr.com/65535/49891482208_50f1508146_h.jpg"
    />
    <p>Santos - SP - Brasil</p>
  </div>
  <div>
    <img
      src="https://live.staticflickr.com/65535/49891482148_22aacda029_h.jpg"
    />
    <p>Pacu Prata</p>
  </div>
  <div>
    <img
      src="https://live.staticflickr.com/65535/49891996161_03fc1445ba_h.jpg"
    />
    <p>Faraglione - Capri - Itália</p>
  </div>
  <div>
    <img
      src="https://live.staticflickr.com/65535/49892308922_09c05dc337_b.jpg"
    />
    <p>Dancing Day</p>
  </div>
  <div>
    <img
      src="https://live.staticflickr.com/65535/49892308912_f064766e96_h.jpg"
    />
    <p>Pisa - Itália</p>
  </div>
  <div>
    <img
      src="https://live.staticflickr.com/65535/49891996046_e8d1c8b5af_h.jpg"
    />
    <p>Sargentinho Solitário</p>
  </div>
</div>
<!-- end #gallery-04 -->

<div id="gallery-05" class="navona" data-navona-portrait="true">
  <div>
    <img
      src="https://live.staticflickr.com/65535/49891482208_50f1508146_h.jpg"
    />
    <p>Santos - SP - Brasil</p>
  </div>
  <div>
    <img
      src="https://live.staticflickr.com/65535/49891482148_22aacda029_h.jpg"
    />
    <p>Pacu Prata</p>
  </div>
  <div>
    <img
      src="https://live.staticflickr.com/65535/49891996161_03fc1445ba_h.jpg"
    />
    <p>Faraglione - Capri - Itália</p>
  </div>
  <div>
    <img
      src="https://live.staticflickr.com/65535/49892308922_09c05dc337_b.jpg"
    />
    <p>Dancing Day</p>
  </div>
  <div>
    <img
      src="https://live.staticflickr.com/65535/49892308912_f064766e96_h.jpg"
    />
    <p>Pisa - Itália</p>
  </div>
  <div>
    <img
      src="https://live.staticflickr.com/65535/49891996046_e8d1c8b5af_h.jpg"
    />
    <p>Sargentinho Solitário</p>
  </div>
</div>
<!-- end #gallery-05 -->

<ngx-navona></ngx-navona>
